/* general settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

body {
    color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    
}
/* /general settings */

/* float */
.clear-fix::after {
    content: "";
    display: block;
    clear: both;
}

img, .float-left {
    float: left;
}

.float-right {
    float: right;
}
/* /float */

/* header */

#header h1 {
    padding-top: 30px;
    padding-bottom: 40px;
    text-align: center;
    color: #e5316f;
    font-size: 2.4em;
    font-weight: 600;
}

#header p {
    text-align: justify;
    text-align-last: center;
    color: black;
    padding-bottom: 50px;
}
/* /header */

/* columns */
.col {
    width: 372px;
    background-color: #0f0e17;
    margin: 20px 14px;
    border: 4px solid rgba(255, 255, 255, 0.9);
}

.col .profile-img {
    width: 90px;
    margin-right: 10px;
}

.col strong, .col span {
    display: block;
    padding-top: 5px;
}

a.email {
    color: #46a0c7;
    text-decoration: none;
}
/* /columns */