* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    
}

/* float */
.clear-fix::after {
    content: "";
    display: block;
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}
/* /float */

#header h1 {
    padding-top: 30px;
    padding-bottom: 40px;
    text-align: center;
    color: #e5316f;
    font-size: 2.4em;
    font-weight: 600;
}

#header p {
    text-align: justify;
    text-align-last: center;
}

main {
    padding-top: 50px;
    color: white;
    
}

.col {
    width: 33%;
    background-color: #0f0e17;
    height: 100px;
    
}

.col img {

}

span {
    display: block;
}

a.email {
    color: #46a0c7;
    text-decoration: none;
}