* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    
}

/* float */
.clear-fix::after {
    content: "";
    display: block;
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}
/* /float */

#header h1 {
    padding-top: 30px;
    padding-bottom: 40px;
    text-align: center;
    color: #e5316f;
    font-size: 2.4em;
    font-weight: 600;
}

#header p {
    text-align: justify;
    text-align-last: center;
}

main {
    padding-top: 50px;
    color: white;
    
}



.col {
    width: 333px;
    background-color: #0f0e17;
    height: 200px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
    border: 4px solid rgba(212, 212, 212, 0.9);
    
}

.col img {
    width: 100px;
}



a.email {
    color: #46a0c7;
    text-decoration: none;
}